.dev-form-item{
  cursor: pointer;
  flex: 1;
  display: flex;
  align-items: baseline;
  position: relative;
  box-sizing: border-box;
  padding: 10px 5px;
}
.prod-form-item {
  flex: 1;
  display: flex;
  align-items: baseline;
  position: relative;
  padding: 0 5px;
  box-sizing: border-box;
}
.form-item-label{
  margin-right: 5px;
  min-width: 80px;
  white-space: nowrap;
  display: inline-block;
}
.form-item-box{
  display: inline-block;
  flex-grow: 1;
}
.active{
  background: #ddeeff;
}

.required::before{
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}
.remove-icon{
  color: red;
  margin-left: 5px;
  cursor: pointer;
  width: 20px;
}
.hidden-icon{
  visibility: hidden;
}
.upload-tip{
  font-size: 12px;
  color: #606266;
  line-height: 20px;
}