.cell{
  border: 1px dashed #ccc;
  min-height: 52px;
  display: flex;
}
.transitoon {
  height: 100%;
  width: 100%;
  display: flex;
}
.formItem-enter-active {
  animation: formItem-in 0.5s;
}
.formItem-leave-active {
  animation: formItem-in 0.5s reverse;
}
@keyframes formItem-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}