.preview {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  background: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}
.left-box {
  width: 800px;
}
.right-box {
  margin-left: 20px;
}
.close-btn {
  float: right;
  margin: 10px 10px 0 0;
}