.dev-form-item .ant-form-item {
  margin-bottom: 0 !important;
}
.main {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}
.layout{
  cursor: move;
}
.layout-left {
  flex: 4;
  margin-right: 10px;
}
.layout-center {
  flex: 13;
  margin-right: 10px;
}
.layout-right {
  flex: 7;
}
.formitem-item{
  padding: 10px 0;
  cursor: move;
  font-size: 14px;
}
.form-container{
  height: 500px;
  position: relative;
}
.pointer{
  cursor: pointer;
}
.preview-btn {
  float: right;
}
.hidden {
  display: none;
}