.form-item  .ant-form-item {
  margin-bottom: 0 !important;
}
.main {
  display: flex;
}
.layout{
  cursor: move;
}
.layout-left {
  flex: 4;
  margin-right: 20px;
}
.layout-center {
  flex: 13;
  margin-right: 20px;
}
.layout-right {
  flex: 7;
}
.formitem-item{
  padding: 10px 0;
  cursor: move;
  font-size: 14px;
}
.form-container{
  height: 500px;
}
.pointer{
  cursor: pointer;
}